.Searchbar {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  background-color: rgb(136, 196, 236);
  color: #fff;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
  margin-bottom: 1em;
}

.SearchbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 750px;
}

.Searchbar input {
  margin-left: 1em;
  border: 2px solid rgb(72, 140, 185);
  border-radius: 5px;
  padding: 0.5em 0.5em;
}

.SearchbarContainer a {
  color: #fff;
}

.SearchbarContainer i {
  font-size: 1.5rem;
}

.SearchbarContainer i:hover {
  color: rgb(72, 140, 185);
}
